<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDVxNJroeJ_80mZd6Z3F7IcqLPkcPNosM</string>
	<key>GCM_SENDER_ID</key>
	<string>958644473572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tangping.zhoujiang</string>
	<key>PROJECT_ID</key>
	<string>zhoutools-310110</string>
	<key>STORAGE_BUCKET</key>
	<string>zhoutools-310110.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958644473572:ios:9f367f07c4539ec0f2e6f1</string>
</dict>
</plist>